<div class="about">
    <a onclick="fnImage()"><img src="modules/AboutUs/images/small.png"></a>
    <div id="light" class="white_content">
        <a onclick="fnClose()">&#9746;</a>
        <figure>
            <img src="modules/AboutUs/images/big.png">
            <figcaption>
                Hi this is my FIRST <b>SINGLE PAGE WEB APPLICATION</b> and In this Web application i presented my works on various designs and models.
            </figcaption>
        </figure>
    </div>
    <div id="fade" class="white_overlay"></div>
</div>
