<center>
    <h2 style="color:blue"><u>Human Face</u></h2>
    <div class="face">
        <div class="f">
            <span id="le"> my right eye</span>
            <div class="left-eye">
                <div class="eye-ball"></div>
            </div>
        </div>
        <div class="f">
            <span id="re"> my left eye</span>
            <div class="right-eye">
                <div class="eye-ball"></div>
            </div>
        </div>
        <div class="f">
            <span id="nose"> my nose</span>
            <div class="left-nose"></div>
            <div class="right-nose"></div>
        </div>
        <div class="f" id="svgdiv">
            <span id="mouth"> my mouth</span>
            <svg id="svg1">
                <path d="M 40 80 Q 150 180 260 80" stroke="black" stroke-width="2" fill="none" />
            </svg>
            <svg id="svg2">
                <path d="M 40 40 Q 120 140 220 40" stroke="black" stroke-width="2" fill="none"/>
            </svg>
        </div>
    </div>
</center>
