<nav class="menu">
    <ul>
        <li><a onclick="fnShowHome()">Home</a></li>
        <li><a onclick="fnShowAboutUs()">AboutUs</a></li>
        <li><a onclick="fnShowHumanFace()">Human Face</a></li>
        <!--onclick="fnGetHumanFace()"-->
        <ul>
            <li>
                <a>Designs<span>&#9660;</span></a>
                <ul>
                    <li><a onclick="fnShowMouseHover()">MouseHoverImage</a></li>
                    <li><a onclick="fnShowBorder()">BodderImage</a></li>
                    <li><a onclick="fnShowBoxSizing()">BoxSizing</a></li>
                    <li><a onclick="fnShowOrderList()">OrderList</a></li>
                    <li><a onclick="fnShowButton()">Button</a></li>
                    <li><a onclick="fnShowRibbon()">Ribbon</a></li>
                    <li><a onclick="fnShowTriangle()">Triangle</a></li>
                </ul>
            </li>
        </ul>
        <ul>
            <li>
                <a>Text Formats<span>&#9660;</span></a>
                <ul>
                    <li><a onclick="fnShowTextColumns()">Text Columns</a></li>
                    <li><a onclick="fnShowEmptyBox()">Empty Box</a></li>
                    <li><a onclick="fnShowTextBlur()">Text Blur</a></li>
                    <li><a onclick="fnShowPara1()">Paragraph1</a></li>
                    <li><a onclick=" fnShowPara2()">Paragraph2</a></li>
                </ul>
            </li>
        </ul>
        <li><a onclick="fnShowContact()">Contact</a></li>
    </ul>
</nav>
<!--<img src="modules/Menu/image/menuicon.png" width="50px" height="35px" />-->